@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>William's Food Help Application.  Not much to see, but you can use the links aboe to navigate the site.'</p>
</div>
